<div class="modal fade" id="Modal-{{ comment.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form action="{% url 'blog_app:edit_comment_view' comment.pk %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ comment.author }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <small class="text-muted">{{ comment.published_date }}</small>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                style="max-width: 100%; resize: none;" name="text">{{ comment.text }}</textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>