{% extends 'base.html' %}
{% block content %}
<div>
    <main class="container" style="max-width: 75%;">
        <div class="row">
            <div class="col-9">
                <h3 class="fst-italic">{{ user.username }}</h3>
                <p><small class="text-muted">{{user.first_name}} {{ user.last_name }}</small></p>
                <p>Date joined: {{user.date_joined}}</p>
            </div>
            {% if request.user == user %}
            <div class="col-3">
                <button class="btn btn-secondary"><a href="{% url 'user_app:update_personal_info_view'%}"
                                                     class="link-light" style="text-decoration: none;">
                    Change info</a></button>

                <button class="btn btn-secondary" style="margin-top: 10px;">
                    <a href="{% url 'user_app:change_password_view' user.pk %}"
                       class="link-light" style="text-decoration: none;">
                        Change password</a></button>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-link " href="{% url 'user_app:profile_view' user.pk%}"
                       {% if current_page == 'publish_post' %}style="border: 1px solid;" {% endif %}>Posts</a>
                    {% if request.user == user %}
                    <a class="nav-link" href="{% url 'user_app:profile_saved_view' user.pk%}"
                       {% if current_page == 'saved_post' %}style="border: 1px solid;" {% endif %}
                    id="saved">Saved</a>
                    <a class="nav-link" href="{% url 'user_app:profile_comments_view' user.pk%}"
                    {% if current_page == 'comments' %}style="border: 1px solid;" {% endif %}>Comments</a>
                    <a class="nav-link" href="#">Disabled</a>
                    {% endif %}
                </nav>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col posts">
                {% if current_page == 'comments' %}
                    {% for obj in objs %}
                        <a class="link-secondary" href="{{ obj.post.get_absolute_url }}">{{ obj.post.title }}</a>
                        {% include 'list_comments.html' with comment=obj %}
                        {% include 'modal.html' with comment=obj %}
                    {% endfor %}
                {% else %}
                    {% include 'posts.html' with posts=objs %}
                {% endif %}
            </div>
        </div>
        {% include 'paginator.html' with page=objs %}
    </main>
</div>
{% endblock %}