{% extends 'registration/user_form_base.html' %}

{% block title %} Change password {% endblock %}

{% block content %}
<main class="form-register" style="width: auto;">
    <form method="post">
        {% csrf_token %}
        <!--    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->

        <h1 class="h3 mb-3 fw-normal">Change password</h1>
        {% if form.errors %}
        <ul style="margin-left: 0; padding-left: 0; list-style-type: none; ">
            {% for error, text in form.errors.items %}
            <li><h4 class="h4 mb-3">{{text}}</h4></li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="row inputs">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" id="floatingInput" placeholder="name@example.com" name="old_password"
                           required>
                    <label for="floatingInput">Old password</label>
                </div>
            </div>
        </div>
        <div class="row input">
            <div class="col">
                <div class="form-floating" style="width: 250px;">
                    <input type="password" class="form-control" id="floatingPassword1" placeholder="Password"
                           name="new_password1" required>
                    <label for="floatingPassword1">New password</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating" style="width: 250px;">
                    <input type="password" class="form-control" id="floatingPassword2" placeholder="Password"
                           name="new_password2" required>
                    <label for="floatingPassword2">Repeat new password</label>
                </div>
            </div>
        </div>

        <div class="mb-3" style="margin-top: 10px;">
            <label>
                Go back to <a class="link-secondary" href="{% url 'user_app:profile_view' user.pk %}">Profile</a>
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-secondary" type="submit">Save</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</main>
{% endblock %}