{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div>
    <main class="container">
        <div class="row">
            <div class="col-10">
                <article class="blog-post">
                    <h2 class="blog-post-title">{{ post.title }}</h2>
                    <hr>
                    <p>{{ post.body }}</p>
                </article>
            </div>
            <div class="col-2">
                {% if not post.is_publish %}
                <h4 class="fst-italic">Is not published</h4>
                {% endif %}
                {% if post.is_important %}
                    <h4 class="fst-italic">Important</h4>
                {% endif %}
                <h4>{{ post.author }}</h4>
                <p>Published: <strong> {{ post.published_date }}</strong></p>
                Category: <strong>{{ post.category }}</strong>
                {% if post.author == request.user or request.user.is_staff %}
                <hr>
                <h5 class="fst-italic">
                    {% if request.user.is_staff %}
                    Admin panel:
                    {% else %}
                    User panel:
                    {% endif %}
                </h5>
                <div class="row">
                    <div class="col">
                        <form action="{% url 'blog_app:hide_post_view' post.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn {% if request.user.is_staff %}btn-secondary
                                                            {% else %}btn-light{%endif%}"
                                    style="width: 100%;">
                                {% if post.is_publish %}
                                Hide
                                {% else %}
                                Publish
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="{% url 'blog_app:delete_post_view' post.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn {% if request.user.is_staff %}btn-secondary
                                                            {% else %}btn-light{%endif%}"
                                    style="width: 100%;">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        {% csrf_token %}
                        <a href="{% url 'blog_app:edit_post_view' post.pk %}" class="btn {% if request.user.is_staff %}btn-secondary
                                                            {% else %}btn-light{%endif%}" style="width: 100%;">
                            Edit
                        </a>
                    </div>
                </div>
                {% if request.user.is_staff %}
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <form action="{% url 'blog_app:change_importance_view' post.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary" style="width: 100%;">
                                {% if post.is_important %}
                                    Not important
                                {% else %}
                                    Important
                                {% endif %}
                            </button>
                        </form>

                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}